body{
    background-color: rgb(247, 251, 255)
}

.navigation{
    list-style: none;
    height: 100vh;
    background-color: rgba(255, 255, 0, 0);
    position: fixed;
}
.navigation li{
    padding: 40px 20px;
}

a{
    text-decoration: none;
    color: rgb(41, 77, 238);
}

.control-panel{
    background-color: rgb(0, 255, 76);
    display: inline;
}

.navbar-brand{
    font-size: 35px;
    font-weight: bold;
}

i{
    margin-right: 10px;
}

.dashboard{
    background-color: white;
    margin-top: 4%;
    height: 100%;
    border-radius: 20px;
    overflow: scroll;
}

.thead-primary{
    background-color: rgb(110, 134, 241);
}

.good{
    margin: 20px;
    margin-left: 120px;
    background-color:#CCFFE5;
}
.primary{
    margin: 20px;
    background-color: rgb(177,201,232);
}
.warning{
    margin: 20px;
    background-color: rgb(255,203,164);
}

.danger{
    margin: 20px;
    background-color:rgb(255,114,118);
}

.dns{
    height: 120px;
}

.onDns{
    color: rgb(0, 0, 0);
}

.dnscount{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.nav{
    background-color: rgb(247, 251, 255);
    height: 50px;
}

.navLink{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bolder;
}

.navLink:hover{
    border-bottom: 2px solid rgb(41, 77, 238);
}

.ruleH1{
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 222, 191);
    border-bottom: 2px solid rgb(41, 77, 238);
}

.iprule{
    margin: 20px 0px 0px 20px;
}

.input{
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(240, 202, 121);
}

.dnslisting{
    margin-left: 20px;
    margin-top: 20px;
}

.whitelist{
    padding: 10px 20px;
    border: 1px solid black;
}

.doaminBlack{
    margin-top: 20px;
}

.blacklist{
    border: none;
    border-bottom: 1px solid;
    width: 300px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ip_addrs{
    border: none;
    border-bottom: 1px solid red;
    width: 300px;
    padding: 10px;
}
#port{
    border: none;
    border-bottom: 1px solid red;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}
.plan_panel{
    margin-top: 20px;
}
.gaps{
    margin-left: 20px;
}
#thress{
    border: none;
    border-bottom: 1px solid red;
    width: 220px;
    padding: 10px;
    margin-left: 20px;
}
.button{
    border: 1px solid red;
    padding: 10px 30px;
    background-color: white;
    margin-left: 20px;
    margin-top: 5px;
}