{% extends 'petal/scale.html' %}
{% load static %}
{% block content %}
<div class="col-lg-10">
    <div class="dashboard">
        <div class="row">
            <div class="col-lg-4">
                <i style="margin-left: 30px; margin-top: 20px; font-weight: bold;">Count </i>
                <p id='count' style='margin-left:20px; font-size: 120px; font-weight: bolder;'>0</p>
            </div>
            <div class="col-lg-8">
                <div id="myChart" style='width:"100%"; height:"150px";'></div>
            </div>
        </div>
        <button class="btn btn-success float-right" onclick="scan()"><i class="fas fa-recycle"></i> Scan</button>
        <table class="table table-striped">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">IP</th>
                    <th scope="col">MAC</th>
                    <th scope="col">Vendor</th>
                    <th scope='col'>State</th>
                    <th scope="col">Services</th>
                </tr>
            </thead>
            <tbody>
                {% for hst in host %}
                <tr>
                    <th scope="row">{{hst.id}}</th>
                    <td>{{ hst.ipaddrs }}</td>
                    <td>{{ hst.mac }}</td>
                    <td>{{ hst.os }}</td>
                    <td>{{ hst.state }}</td>
                    <td>{{ hst.service }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

</script>
<script src="{% static 'petal/js/script.js' %}"></script>
{% endblock %}