{% extends 'petal/scale.html' %}
{% block content %}
<div class="col-lg-9">
    <div class="dashboard">
        <table class="table table-striped">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Device</th>
                    <th scope="col">OS</th>
                    <th scope="col">Services</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}