<style>
    .navbar {
        box-shadow: none;
    }

    a {
        color: rgb(41, 77, 238);
    }

    .title-name {
        margin-left: 50px;
    }
</style>
<nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand title-name" style="color: rgb(41, 77, 238);" href="/">कमल</a>
    <form class="form-inline">
        <i class="fas fa-bell" style="font-size: 30px; color: rgb(41, 77, 238);"></i>
        <a style="background-color: rgb(41, 77, 238); margin-left: 20px; padding: 20px; border-radius: 50px">PP</a>
    </form>
</nav>