{% extends 'petal/scale.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
    alert('{{ message }}')
</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="col-lg-10">
    <div class="dashboard">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav">
                    <li class="nav-link navLink"><a href="#system">System</a></li>
                    <li class="nav-link navLink"><a href="#blockchain">Block Chain</a></li>
                    <li class="nav-link navLink"><a href="#dns">DNS</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="ruleH1" id='system'>System</h1>
                <div class="iprule">
                    <form>
                        <input class="input" type="text" placeholder="IP address eg (192.168.1.1)">
                        <select class="input" style="margin-left: 20px;">
                            <option>Accept</option>
                            <option>Drop</option>
                        </select>
                    </form>
                </div>
                <h1 class="ruleH1" id='blockchain'>Block Chain</h1>

                <h1 class="ruleH1" id='dns'>DNS</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <table class="table table-striped dnslisting">
                                <thead class="thead-primary">
                                    <tr>
                                        <th scope="col">Domain</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in blacklist %}
                                    <tr>
                                        <td scope="row">{{ list }}</td>
                                        <td><button class='whitelist' data-action="{{ list }}">Whitelist</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="doaminBlack">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" class="blacklist" name="blacklist" placeholder="blacklist"><br>
                                <input style="padding: 2px 25px; margin-top: 15px;" type="submit" onclick="reload()"
                                    value="Add">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'petal/js/rules.js' %}"></script>
{% endblock %}